.bedroom{
    display: flex;
    justify-content: center;
    background-color: #fff;
    animation: opacity 1s;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.bedroom__container{
    width: 1200px;
    padding: 40px 0 40px 0;
}

.bedroom__title{
    font: 32px Lato;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.bedroomType__text{
    font: 16px Lato;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

.bedroomType{
    display: flex;
    justify-content: space-around;
}

.bedroomType__container{
    width: 460px;
    padding: 20px;
}

.bedroomType__bedroomImg{
    background-image: url("../media/bedroom/bedroom.png");
    width: 700px;
    height: 300px;
}

.bedroomType__button{
    width: 220px;
    height: 60px;
    background-color: #FFFA6A;
    border-radius: 3px;
    border: 0px solid #FCB600;
    color: #290F00;
    font: 18px Lato;
    display: flex;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.bedroomType__buttonImg{
    background-image: url("../media/kitchen/order.png");
    width: 24px;
    height: 24px;
    margin: 0 0 0 0;
}