.catalog {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #fff;
    margin: 40px 0 0 0;
}

.catalog__link{
    font: 18px Lato;
    color: #fff;
    text-decoration: none;
    margin: 20px 0 0 0;
    transition: color 250ms;
}

.catalog__link:visited{
    color: #fff;
}

.catalog__link:hover{
    color: #FFFA6A;
}

.catalog__link:active{
    color: #FFFA6A;
}
