@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('../media/fonts/lato-v14-latin-regular.woff2') format('woff2'),
    url('../media/fonts/lato-v14-latin-regular.woff') format('woff'),
    url('../media/fonts/lato-v14-latin-regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('../media/fonts/lato-v14-latin-700.woff2') format('woff2'),
    url('../media/fonts/lato-v14-latin-700.woff') format('woff'),
    url('../media/fonts/lato-v14-latin-700.ttf') format('truetype')
}

@media screen and (min-device-width: 900px) {
    .header {
        background-image: url("../media/headerBG.png");
    }

}

h1,h2,h3,p{
    margin: 0;
}

.header{
    background-image: url("../media/headerBG768.png");
    background-position: 50% 50%;
    width: 100%;
    height: 768px;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1.4fr;
    grid-template-rows: 120px;
    align-items: center;
}

.header__container{
    padding: 0 30px 0 30px;
}

.logo{
    margin: 0 0 0 20px;
}

.logoLink{
    text-decoration: none;
}

.logo__title{
    font: 32px Pacifico;
    color: #FFFA6A;
}

.logo__text{
    font: 12px Lato;
    color: #fff;
    font-weight: 400;
}

.phone{
    justify-self: center;
}

.phone__title{
    font: 18px Lato;
    color: #fff;
}

.phone__text{
    font: 12px Lato;
    color: #AEAEAE;
}

.navMobile{
    display: none;
}

.menu__icon{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.nav__link{
    font: 18px Lato;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    transition: color 250ms;
    font-weight: 400;
}

.nav__link:hover{
    color: #FFFA6A;
}

.button{
    width: 220px;
    height: 60px;
    background-color: #FFFA6A;
    border-radius: 3px;
    border: 0px solid #FCB600;
    color: #290F00;
    font: 18px Lato;
    display: flex;
    justify-content: center;
    margin: 0 0 0 10px;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(252, 182, 0, 0.2);
}

.backCall__img{
    background-image: url("../media/phone.png");
    width: 24px;
    height: 24px;
    margin: 0 5px 0 0;
}

.callMaster__img{
    background-image: url("../media/rulerSmall.png");
    width: 24px;
    height: 24px;
    margin: 0 5px 0 0;
}

.containerButton{
    display: flex;
    justify-content: center;
    margin: 180px 0 0 0;
}

.slogan{
    display: flex;
    justify-content: center;
    margin: 190px 0 0 0;
}

.slogan__title{
    font: 46px Lato;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.modal__container{
    display: grid;
    justify-items: center;
}

.modal__input{
    width: 300px;
    height: 40px;
    margin: 20px 0 0 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 0 0 0 20px;
}

.modal__textarea{
    width: 298px;
    margin: 20px 0 0 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0 0 20px;
}

.modal__button{
    width: 140px;
    height: 40px;
    background-color: #FFFA6A;
    border-radius: 3px;
    border: 0px solid #FCB600;
    color: #290F00;
    font: 18px Lato;
    display: flex;
    justify-content: center;
    cursor: pointer;
    justify-self: end;
    margin: 20px 0 0 0;
    align-items: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.send__img{
    background-image: url("../media/send.png");
    width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
}

.close{
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 20px;
    color: #A3A3A3;
    justify-self: end;
}

.modal__title{
    font: 32px Lato;
}

@media screen and (max-width: 450px) {
    .logo {
        margin: 0;
    }

    .nav__link {
        display: none;
    }

    .slogan {
        margin: 50px 0 0 0;
    }

    .header {
        height: 100vh;
    }

    .slogan__title {
        font: 36px Lato;
    }

    .containerButton {
        margin: 50px 0 0 0;
    }

    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90px;
    }

    .logo__title{
        font: 26px Pacifico;
    }

    .phone{
        display: none;
    }

    .navMobile{
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 auto;
        align-items: center;
    }

    .catalog__link{
        font: 18px Lato;
        color: #fff;
        text-decoration: none;
        margin: 5px 0 0 0;
        transition: color 250ms;
    }

    .catalog__link:visited{
        color: #fff;
    }

    .catalog__link:hover{
        color: #FFFA6A;
    }

    .catalog__link:active{
        color: #FFFA6A;
    }

    .menu__icon {
        display: inline-block;
        width: 35px;
        height: 30px;
        position: relative;
        cursor: pointer;
        margin: 10px 0 0 auto;
        align-self: flex-start;
    }

    .menu__icon span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        -webkit-border-radius: 9px;
        border-radius: 9px;
        left: 0px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .menu__icon span:nth-child(1) {
        top: 8px;
    }

    .menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
        top: 18px;
    }

    .menu__icon span:nth-child(4) {
        top: 28px;
    }

    .menu_state_open .menu__icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .menu_state_open .menu__icon span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu_state_open .menu__icon span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu_state_open .menu__icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
}