.kitchen{
    display: flex;
    justify-content: center;
    background-color: #fff;
    animation: opacity 1s;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.kitchen__container{
    width: 1200px;
    padding: 40px 0 40px 0;
}

.kitchen__title{
    font: 32px Lato;
    font-weight: 400;
}

.kitchen__text{
    font: 16px Lato;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

.kitchenType__text{
    font: 16px Lato;
    font-weight: 400;
    margin: 10px 0 30px 0;
}

.kitchenType{
    display: flex;
    justify-content: space-around;
}

.kitchenType__title{
    font: 18px Lato;
    font-weight: 700;
    margin: 20px 0 0 0;
}

.kitchenType__classicImg{
    background-image: url("../media/kitchen/classic.png");
    width: 700px;
    height: 300px;
}

.kitchenType__modernImg{
    background-image: url("../media/kitchen/modern.png");
    width: 700px;
    height: 300px;
}

.kitchenType__economImg{
    background-image: url("../media/kitchen/econom.png");
    width: 700px;
    height: 300px;
}

.kitchenType__container{
    width: 460px;
    padding: 20px;
}

.kitchenType__button{
    width: 220px;
    height: 60px;
    background-color: #639fa9;
    border-radius: 3px;
    border: 0px solid #FCB600;
    color: #fff;
    font: 18px Lato;
    display: flex;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.kitchenType__buttonImg{
    background-image: url("../media/kitchen/order.png");
    width: 24px;
    height: 24px;
    margin: 0 0 0 0;
}

.kitchenType__title-mobile{
    display: none;
}

@media screen and (max-width: 450px) {
    .kitchen__container{
        width: 100vw;
    }

    .kitchenType__classicImg{
        background-image: url("../media/kitchen/classicMobile.png");
        width: 320px;
        height: 159px;
    }

    .kitchenType__modernImg{
        background-image: url("../media/kitchen/modernMobile.png");
        width: 320px;
        height: 159px;
    }

    .kitchenType__economImg{
        background-image: url("../media/kitchen/economMobile.png");
        width: 320px;
        height: 159px;
    }

    .kitchenType{
        display: flex;
        flex-wrap: wrap;
    }

    .kitchenType__titleMobile{
        display: inline;
        font: 18px Lato;
        font-weight: 700;
        margin: 40px 0 20px 0;
    }

    .kitchenType__title{
        display: none;
    }

    .kitchen__title{
        font: 26px Lato;
        margin: 0 20px 20px 20px;
    }

    .kitchen__text{
        margin: 0 20px 0 20px;
    }
}